.plant-list {
  padding-bottom: 150px;
  &-thumb {
    margin-bottom: 50px;
    &-img {
      margin: 20px 0;
    }
  }

  &-bar {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  &-search {
    background-color: @color-secondary-light;
    padding: 10px;
  }
}
