.plant-list {
  padding-bottom: 150px;
  &-thumb {
    margin-bottom: 50px;
    &-title {
      margin-bottom: 20px;
    }
    &-link {
      overflow: hidden;
      display: flex;
    }
    &-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: top;
      transition: all ease-in-out .3s;
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2)
      }
    }
    &-data {
      width: 100%;
      padding: 10px 0;
      background-color: @color-secondary-light;
      text-align: center;
      &-thumb {
        padding: 0 5px;
      }
    }
    &-icon {
      width: 25%;
      margin-right: 5px;
    }
    &-temperature {
      width: 100%;
    }
  }

  &-bar {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  &-search {
    background-color: @color-secondary-light;
    padding: 20px;
    &-icon {
      width: 30px;
      margin: 0 5px;
    }
    &-title {
      font-size: 18px;
      color: @color-secondary-dark;
      font-family: "Lobster", cursive;
      letter-spacing: .8px;
      margin-bottom: 10px;
    }

    &-toggle {
      transition: all ease-in-out .3s;
      margin-top: 10px;
      &:focus {
        box-shadow: none;
      }
      &:hover, &:focus {
        text-shadow: 2px 2px 5px @color-secondary;
      }
      .oi {
        font-size: 12px;
        margin-left: 5px;
      }
    }

    &-submit {
      margin-top: 10px;
    }

    &-hide {
      display: none;
    }

    &-display {
      display: flex;
      padding: 10px 0;
    }

    &-checkboxes {
      margin-top: 10px;

      .checkbox {
        width: 25%;
        &-title {
          margin-left: 8px;
        }
      }
    }
    .form-group {
      margin-bottom: 8px;
      padding: 0;
    }

    &-sort {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    &-select {
      height: 30px;
      margin-left: 10px;
      padding-left: 5px;
    }
  }
}
