.form {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}

.form-wrapper {
  position: relative;
  background-color: @color-secondary-light;
  padding: 30px;
}

.form-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 5px;
}
