
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: @color-secondary-light;
  z-index: 100;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-bottom: 0;
    padding: 0;
  }

  &-logo {
    width: 300px;

    &-image {
      width: 100%;
    }
  }

  &-elem {
    margin-left: 30px;

    &-link {
      color: @color-secondary-dark;
      font-size: 22px;
      transition: all ease-in-out .3s;

      &:hover, &:focus {
        text-decoration: none;
        color: @color-primary-orange-dark;
        text-shadow: 1px 1px @color-secondary;
      }
    }

    &.account {
      position: relative;
      height: 100%;

      &:focus {
        outline: none;
      }

      .btn-logout {
        cursor: pointer;
        position: absolute;
        bottom: 3px;
        right: 5px;
        margin: 0;
        color: @color-secondary-lighten;
        transition: all ease-in-out .3s;
        &:hover, &:focus {
          background-color: @color-primary-orange-dark;
          border-radius: 10px;
          padding: 0 5px;
        }
      }

      .menu-elem-link {
        border: none;
        line-height: 80px;
        padding: 0 20px;
        font-family: "Lobster", cursive;
        font-size: 26px;

        &.btn-account {
          display: block;
          position: relative;
          height: 100%;
          line-height: 75px !important;
        }

        &:focus {
          outline: none;
        }

        &:hover, &:focus {
          text-shadow: none;
        }
      }
    }
  }
}
