.beta {
  &-title {
  }
  &-presentation {

  }
  &-links {
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    color: @color-secondary-lighten;
    background-color: @color-primary-orange-light;
    box-shadow: 15px 15px @color-primary-orange;
    font-size: 20px;
  }
  &-link {

  }
}
