.contact-single {
  padding-bottom: 150px;
  .main-title {
    padding-top: 100px;
    padding-bottom: 0;
    padding-left: 10px;
  }
}

.contact-pro {
  padding-bottom: 150px;
  &-form {
    padding-left: 10px;
    color: @color-secondary;
    font-size: 12px;
    margin-bottom: 20px;
    &-link {
      margin-left: 3px;
      color: @color-primary-green-light;
      transition: all ease-in-out .2s;
      &:hover {
        color: @color-primary-green-dark;
        text-decoration: none;
      }
    }
  }
}
