
.concept {
  padding-top: 100px;
  margin-bottom: 90px !important;
  &-title {
    font-family: "Lobster", cursive;
    font-size: 60px;
    text-align: center;
    color: @color-secondary-dark;
    margin-bottom: 0;
  }
  &-subtitle {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: @color-primary-orange;
    font-size: 24px;
    margin-bottom: 0;
  }

  &-content {
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    color: @color-secondary;
    background-color: @color-secondary-light;
    box-shadow: 15px 15px @color-secondary;
    font-size: 20px;
  }

  &-tip {
    font-size: 18px;
    font-style: italic;
    color: @color-primary-green;
  }

  &-way-to-use {
    width: 70%;
    margin: 20px 0;
  }

  &-video {
    margin-top: 30px;
    width: 100%;
    height: 630px;
    &-title {
      font-family: "Lobster", cursive;
      margin-top: 80px;
      color: @color-primary-orange;
      margin-bottom: 30px;
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 576px) {
  .concept {
    padding-top: 50px;
    margin-bottom: 30px !important;
    &-title {
      font-size: 45px;
    }
    &-content {
      text-align: justify;
      padding: 30px 10px;
      font-size: 16px;
      margin-top: 30px;
      &-text {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
    &-subtitle {
      font-size: 18px;
    }
    &-way-to-use {
      width: 80%;
    }
    &-video {
      height: 200px;
      &-title {
        margin-top: 60px;
        font-size: 30px;
        margin-bottom: 15px;
      }
    }
  }
}