
.concept {
  padding-top: 80px;
  margin-bottom: 90px !important;
  &-title {
    font-family: "Lobster", cursive;
    font-size: 60px;
    text-align: center;
    color: @color-secondary-dark;
    margin-bottom: 0;
  }

  &-content {
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    color: @color-secondary-lighten;
    background-color: @color-primary-orange-dark;
    box-shadow: 15px 15px @color-secondary;
    font-size: 20px;
  }

  &-way-to-use {
    width: 100%;
    margin-bottom: 90px;
  }
}
