@color-primary-orange: #FF7300;
@color-primary-orange-light: #f29f3a;
@color-primary-orange-dark: #d66b28;
@color-primary-green: #00A84E;
@color-primary-green-light: #91C37D;
@color-primary-green-dark: #7C9872;

@color-secondary-dark: black;
@color-secondary: #56636b;
@color-secondary-light: #e1e1e1;
@color-secondary-lighten: white;
