html {
  scroll-behavior: smooth;
  height: 100%;
}
.container-fluid {
  padding: 0;
}
.row {
  justify-content: center;
  margin: 0;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.border-carrot {
  margin: 70px 0 50px 0;
  width: 100%;
  height: 80px;
  background: url("/images/carrots.png") no-repeat center;
  background-size: 20%;
}
.green {
  color: #00A84E !important;
}
.orange {
  color: #FF7300 !important;
}
.btn-orange {
  color: white !important;
  background-color: #E57B38;
  border-color: #E57B38;
  transition: all ease-in-out 0.3s;
}
.btn-orange:hover {
  color: white !important;
  background-color: #FF9000;
  border-color: #FF9000;
}
.btn-green {
  color: black !important;
  background-color: #91C37D;
  border-color: #91C37D;
  transition: all ease-in-out 0.3s;
}
.btn-green:hover {
  color: black !important;
  background-color: #7C9872;
  border-color: #7C9872;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-left {
  margin-left: 15px;
}
.icon-right {
  margin-right: 15px;
}
.main-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #00A84E;
  padding-top: 150px;
  padding-bottom: 20px;
}
.second-title {
  font-family: "Lobster", cursive;
  font-size: 35px;
  color: black;
}
.module {
  margin-top: 20px;
  overflow: hidden;
  font-size: 16px;
  font-family: "Lato";
  padding: 0;
}
.module p {
  margin: 0;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.page-link {
  color: #95A6B1;
  background-color: white;
  border-color: #95A6B1;
}
.page-link:hover {
  color: #FF7300;
  background-color: white;
  border-color: #FF7300;
}
.page-link.disabled {
  color: #95A6B1 !important;
  background-color: white !important;
  border-color: #95A6B1 !important;
}
.page-item.active .page-link {
  background-color: #E57B38;
  border-color: #E57B38;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: #F3F3F3;
  z-index: 100;
}
.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-bottom: 0;
  padding: 0;
}
.menu-logo {
  width: 300px;
}
.menu-logo-image {
  width: 100%;
}
.menu-elem {
  margin-left: 30px;
}
.menu-elem-link {
  color: black;
  font-size: 22px;
  transition: all ease-in-out 0.3s;
}
.menu-elem-link:hover,
.menu-elem-link:focus {
  text-decoration: none;
  color: #E57B38;
  text-shadow: 1px 1px #95A6B1;
}
.menu-elem.account {
  position: relative;
  height: 100%;
}
.menu-elem.account:focus {
  outline: none;
}
.menu-elem.account .btn-logout {
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 5px;
  margin: 0;
  color: white;
  transition: all ease-in-out 0.3s;
}
.menu-elem.account .btn-logout:hover,
.menu-elem.account .btn-logout:focus {
  background-color: #E57B38;
  border-radius: 10px;
  padding: 0 5px;
}
.menu-elem.account .menu-elem-link {
  border: none;
  line-height: 80px;
  padding: 0 20px;
  font-family: "Lobster", cursive;
  font-size: 26px;
}
.menu-elem.account .menu-elem-link.btn-account {
  display: block;
  position: relative;
  height: 100%;
  line-height: 75px !important;
  border-radius: 5px;
}
.menu-elem.account .menu-elem-link.btn-login {
  border-radius: 5px;
}
.menu-elem.account .menu-elem-link:focus {
  outline: none;
}
.menu-elem.account .menu-elem-link:hover,
.menu-elem.account .menu-elem-link:focus {
  text-shadow: none;
}
.user-menu {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 250px;
  left: 200px;
  background: #F3F3F3;
  overflow-x: hidden;
  text-align: center;
  border: 1px solid #95A6B1;
}
.user-menu .menu-elem-link {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #95A6B1;
}
.user-menu-logout {
  background-color: #91C37D;
  padding: 10px 0;
  margin: 0;
  font-size: 24px;
  font-family: "Lobster", cursive;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.user-menu-logout:hover {
  background-color: #7C9872;
  color: black;
}
.user-menu .oi {
  padding-right: 10px;
  font-size: 20px;
}
.footer {
  background: #F3F3F3;
}
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-section:first-child {
  margin-top: 15px;
  margin-bottom: 5px;
}
.footer-section:last-child {
  margin-top: 5px;
  margin-bottom: 20px;
}
.footer-elem {
  margin: 0 5px;
}
.footer-elem.social {
  margin: 0 20px;
}
.footer-elem.social a {
  margin-left: 5px;
}
.footer-elem a {
  color: black;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.footer-elem a:hover,
.footer-elem a:focus {
  text-decoration: none;
  color: #E57B38;
}
.footer-elem img {
  width: 40px;
}
.form {
  padding: 0 10px;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.form-wrapper {
  position: relative;
  background-color: #F3F3F3;
  padding: 30px;
  height: 100%;
}
.form-loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.form-annex {
  margin-top: 20px;
}
.form .error {
  background-color: #FF9000;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}
.form .error .oi {
  padding-right: 10px;
}
.form .error.under {
  margin-bottom: 0;
  margin-top: 15px;
}
.header {
  display: table !important;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center, center;
  background-color: black;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}
.header-title {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  font-family: "Lobster", cursive;
  padding-bottom: 100px;
  color: white;
  float: none;
}
.header-title-main {
  font-size: 100px;
  text-shadow: 5px 5px black;
  font-weight: normal;
}
.header-title-medium {
  font-size: 70px;
  text-shadow: 5px 5px black;
  vertical-align: top;
}
.header-title-sub {
  font-size: 50px;
  font-weight: normal;
}
.header-description {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  width: 80%;
  margin: 40px auto 20px auto;
}
.header-link {
  color: #91C37D;
  text-shadow: 2px 2px black;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
}
.header-link.orange {
  color: #E57B28;
}
.header-link.orange:hover {
  color: #FF9000;
}
.header-link:hover {
  color: #00A84E;
  text-decoration: none;
}
.header.main {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/carousel/garden.jpeg");
  background-size: cover, cover;
}
.header.main .header-title {
  vertical-align: middle;
  padding-bottom: 0;
}
.header.beta-mgw {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/images/carousel/visuel-beta.jpeg");
  background-size: cover, cover;
}
.header.beta-mgw .header-title {
  vertical-align: middle;
  padding-bottom: 0;
}
.header.beta-mgw .header-title h2 {
  font-size: 100px;
}
.header.forward {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-final-forward.jpg");
  background-size: cover, cover;
}
.header.nmc {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/NMC_banniere.png");
  background-size: cover, cover;
}
.header.epitech-exp {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-epitech-experience.jpg");
  background-size: cover, cover;
}
.header.tech-inn {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-tech-inn.jpg");
  background-size: cover, cover;
}
.header.mf-nantes {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-mf-nantes.jpeg");
  background-size: cover, cover;
}
.header.mf-angers {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-mf-angers.jpg");
  background-size: cover, cover;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: none;
}
.concept {
  padding-top: 80px;
  margin-bottom: 90px !important;
}
.concept-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}
.concept-content {
  margin-top: 70px;
  text-align: center;
  padding: 30px;
  color: white;
  background-color: #E57B38;
  box-shadow: 15px 15px #95A6B1;
  font-size: 20px;
}
.concept-way-to-use {
  width: 100%;
  margin-bottom: 90px;
}
.solution {
  padding-top: 80px;
}
.solution h3 {
  text-align: center;
  font-size: 40px;
  font-family: "Lobster", cursive;
}
.solution-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}
.solution-subtitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #E57B38;
}
.solution-connect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(rgba(170, 170, 170, 0.7) 20%, rgba(200, 200, 200, 0.2) 60%, white 70%);
  height: 500px;
}
.solution-connect-img {
  width: 30%;
  height: 65%;
}
.solution-connect-text {
  width: 40%;
  text-align: left;
  font-size: 18px;
  margin-bottom: 18%;
}
.solution-connect-dots {
  position: absolute;
  top: 50%;
}
.solution-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}
.solution-step-img {
  width: 35%;
  height: 100%;
}
.solution-step-text {
  font-size: 18px;
  padding: 50px;
}
.solution-step.select {
  background: url("/images/start-way.png") no-repeat center top;
}
.solution-step.select h3 {
  color: #E57B28;
}
.solution-step.search {
  background: url("/images/mid-way.png") no-repeat center top;
}
.solution-step.search h3 {
  color: #91C37D;
}
.solution-step.config {
  background: url("/images/end-way.png") no-repeat center top;
}
.solution-step.config h3 {
  color: #91C37D;
}
.solution-step.receive {
  background: url("/images/mid-way.png") no-repeat center top;
}
.solution-step.receive h3 {
  color: #91C37D;
}
.solution-step.advice {
  background: url("/images/end-way.png") no-repeat center top;
}
.solution-step.advice h3 {
  color: #91C37D;
}
.solution-step.share {
  background: url("/images/mid-way.png") no-repeat center top;
}
.solution-step.share h3 {
  color: #91C37D;
}
.process-element {
  margin-top: 50px;
  padding: 0;
}
.process-element.connect img {
  border: 10px solid #00A84E;
}
.process-element.select img {
  margin-left: 40px;
  border: 10px solid #FF7300;
}
.process-element.select .overlay {
  margin-left: 40px;
}
.process-element.grow {
  border: 10px solid #95A6B1;
}
.process-element:hover .overlay {
  opacity: 1;
}
.process-element-img {
  width: 100%;
}
.process-element .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transition: all ease-in-out 0.5s;
}
.process-element-text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  -webkit-transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
}
.team {
  padding-top: 80px;
  padding-bottom: 150px;
}
.team-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 70px;
}
.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.team-member-name {
  font-size: 24px;
  font-family: "Lobster", cursive;
  color: #FF7300;
}
.team-member-post {
  font-size: 18px;
}
.team-member-img {
  width: 100%;
  border-radius: 50%;
  transition: inherit;
}
.team-member-link {
  transition: all ease-in-out 0.3s;
}
.team-member-link:hover img {
  opacity: 0.7;
}
.vision {
  padding-top: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/visuel-vision.jpeg") no-repeat center;
  background-size: cover;
}
.vision-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: white;
  margin-top: 70px;
  margin-bottom: 40px;
}
.vision-content {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: white;
  padding-bottom: 100px;
}
.contact-single {
  padding-bottom: 150px;
}
.contact-single .main-title {
  padding-bottom: 0;
  padding-left: 10px;
}
.contact-pro {
  padding-bottom: 150px;
}
.contact-pro-form {
  padding-left: 10px;
  color: #95A6B1;
  font-size: 12px;
  margin-bottom: 20px;
}
.contact-pro-form-link {
  margin-left: 3px;
  color: #91C37D;
  transition: all ease-in-out 0.2s;
}
.contact-pro-form-link:hover {
  color: #7C9872;
  text-decoration: none;
}
.register-btn {
  margin-top: 10px;
}
.forgot-password-btn {
  margin-top: 10px;
}
.forgot-password-help {
  text-align: center;
  margin-bottom: 30px;
}
.reset-password-btn {
  margin-top: 10px;
}
.reset-password-help {
  text-align: center;
  margin-bottom: 50px;
}
.login {
  position: absolute;
  top: 90px;
  left: -10px;
  width: 230px;
  z-index: 1;
  border: 1px solid #95A6B1;
}
.login .form {
  padding: 0;
  font-size: 12px;
}
.login .form-wrapper {
  padding: 15px;
}
.login .form-control {
  height: 25px;
  font-size: 12px;
}
.login .form-group {
  margin-bottom: 10px;
}
.login .form .btn {
  font-size: 12px;
}
.login-title {
  font-size: 30px;
}
.login-close {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 10px;
  line-height: 1;
  right: 10px;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}
.login-close:hover {
  opacity: 0.5;
}
.login-password-link {
  float: right;
  line-height: 19px;
  font-size: 11px;
  font-style: italic;
  color: #95A6B1;
  transition: all ease-in-out 0.3s;
}
.login-password-link:hover {
  color: black;
  text-decoration: underline;
}
.login-link {
  padding: 4px 3px;
  float: right;
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
  color: #FF9000;
  transition: all ease-in-out 0.3s;
}
.login-link:hover {
  color: #E57B38;
  text-decoration: none;
}
.login:after,
.login:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.login:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #F3F3F3;
  border-width: 10px;
  margin-left: -10px;
}
.login:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #95A6B1;
  border-width: 11px;
  margin-left: -11px;
}
.login.loading:before {
  border-bottom-color: white;
}
.login.loading:after {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.edit-profile {
  padding-bottom: 150px;
}
.edit-profile-subtitle {
  color: #95A6B1;
  font-size: 22px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.edit-profile-subtitle.second {
  margin-top: 30px;
}
.edit-profile-password {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  color: #FF7300;
}
.edit-profile .form {
  position: inherit;
}
.edit-profile-label {
  padding-left: 15px !important;
}
.edit-profile-datepicker {
  border: none;
  width: 60%;
}
.edit-profile-datepicker:focus,
.edit-profile-datepicker:hover {
  border: none;
  box-shadow: none;
}
.edit-profile-button {
  margin-top: 10px;
}
.edit-profile-delete {
  margin-top: 70px;
}
.edit-profile-newsletter {
  margin-left: 15px;
}
.edit-profile .form-group {
  margin-bottom: 15px !important;
}
.edit-profile .modal.delete .modal-footer {
  justify-content: space-between;
}
.edit-profile .modal.delete .modal-title {
  color: #FF7300;
  font-size: 22px;
}
.edit-profile .modal.delete .modal-body {
  font-size: 16px;
}
.plant-list {
  padding-bottom: 150px;
}
.plant-list-thumb {
  margin-bottom: 50px;
}
.plant-list-thumb-title {
  margin-bottom: 20px;
}
.plant-list-thumb-link {
  overflow: hidden;
  display: flex;
}
.plant-list-thumb-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  transition: all ease-in-out 0.3s;
}
.plant-list-thumb-img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.plant-list-thumb-data {
  width: 100%;
  padding: 10px 0;
  background-color: #F3F3F3;
  text-align: center;
}
.plant-list-thumb-data-thumb {
  padding: 0 5px;
}
.plant-list-thumb-icon {
  width: 25%;
  margin-right: 5px;
}
.plant-list-thumb-temperature {
  width: 100%;
}
.plant-list-bar {
  margin-top: 30px;
  margin-bottom: 80px;
}
.plant-list-search {
  background-color: #F3F3F3;
  padding: 20px;
}
.plant-list-search-icon {
  width: 30px;
  margin: 0 5px;
}
.plant-list-search-title {
  font-size: 18px;
  color: black;
  font-family: "Lobster", cursive;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}
.plant-list-search-toggle {
  transition: all ease-in-out 0.3s;
  margin-top: 10px;
}
.plant-list-search-toggle:focus {
  box-shadow: none;
}
.plant-list-search-toggle:hover {
  text-shadow: 2px 2px 5px #95A6B1;
}
.plant-list-search-toggle .oi {
  font-size: 12px;
  margin-left: 5px;
}
.plant-list-search-submit {
  margin-top: 10px;
}
.plant-list-search-hide {
  display: none;
}
.plant-list-search-display {
  display: flex;
  padding: 10px 0;
}
.plant-list-search-checkboxes {
  margin-top: 10px;
}
.plant-list-search-checkboxes .checkbox {
  width: 25%;
}
.plant-list-search-checkboxes .checkbox-title {
  margin-left: 8px;
}
.plant-list-search .form-group {
  margin-bottom: 8px;
  padding: 0;
}
.plant-list-search-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.plant-list-search-select {
  height: 30px;
  margin-left: 10px;
  padding-left: 5px;
}
.plant-detail {
  padding-bottom: 150px;
}
.plant-detail .form {
  padding-top: 150px;
}
.plant-detail-fetching {
  margin-top: 200px;
}
.plant-detail-subtitle {
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
}
.plant-detail-link {
  background-color: #91C37D;
  color: black;
  transition: all ease-in-out 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  border: 2px solid #7C9872;
}
.plant-detail-link .oi {
  margin-left: 8px;
  font-size: 14px;
}
.plant-detail-link:hover {
  text-decoration: none;
  color: black;
  background-color: #7C9872;
}
.plant-detail-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.plant-detail-data {
  width: 100%;
  text-align: center;
}
.plant-detail-data-thumb {
  padding: 10px 0;
  background-color: #F3F3F3;
}
.plant-detail-icon {
  width: 15%;
  margin-right: 5px;
}
.plant-detail-more {
  position: relative;
}
.plant-detail-text {
  padding: 20px;
  margin: 30px 30px;
  color: #95A6B1;
  background-color: #F3F3F3;
  box-shadow: -15px -15px #95A6B1;
}
.plant-detail-text.left {
  box-shadow: 15px 15px #95A6B1 !important;
}
.plant-detail .border-carrot {
  margin: 30px 0;
}
.plant-detail-visual {
  margin-bottom: 40px;
}
.carrot-list-error {
  padding: 0;
}
.carrot-list-bar {
  margin-top: 30px;
}
.carrot-list-empty {
  margin-top: 80px;
}
.carrot-list-thumbs {
  margin-top: 50px;
}
.add-carrot .form {
  padding: 0;
}
.add-carrot .modal-body {
  background-color: #F3F3F3;
}
.add-carrot .modal-title {
  color: #FF7300;
  font-size: 24px;
}
.add-carrot .modal-footer {
  justify-content: space-between;
}
.carrot-thumb {
  margin: 30px 0;
  padding: 0 10px;
}
.carrot-thumb-wrapper {
  background-color: #F3F3F3;
  padding: 20px 0;
}
.carrot-thumb-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
.carrot-thumb-img {
  width: 25px;
  vertical-align: initial;
  margin-right: 10px;
}
.carrot-thumb-btn-edit {
  padding: 5px;
  font-size: 14px;
  margin-right: 5px;
}
.carrot-thumb-btn-delete {
  padding: 5px;
  font-size: 14px;
  margin-left: 5px;
}
.carrot-thumb-btn-delete:hover,
.carrot-thumb-btn-delete:active {
  background-color: #95A6B1 !important;
  border-color: #95A6B1;
}
.beta {
  padding-bottom: 100px;
}
.beta-thanks {
  font-size: 70px;
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 180px 100px;
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/visuel-thanks.jpg") no-repeat center;
  background-size: cover;
}
.beta .border-carrot {
  margin: 0 0 20px 0;
}
.beta-title {
  color: #FF7300;
  text-shadow: 2px 2px 2px black;
}
.beta-presentation {
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
  color: #95A6B1;
}
.beta .oi {
  font-size: 15px;
  margin-left: 5px;
}
.beta-download {
  margin: 70px 0;
  text-align: center;
  color: #95A6B1;
}
.beta-download h3 {
  color: #FF7300;
  font-weight: bold;
  margin-bottom: 30px;
}
.beta-download-btn {
  margin-top: 30px;
  font-size: 20px;
  box-shadow: 5px 5px 6px #7C9872;
}
.beta-download-btn:hover,
.beta-download-btn:focus,
.beta-download-btn:active {
  box-shadow: 5px 5px 6px #95A6B1;
}
.beta-links {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 20px;
}
.beta-links.website {
  color: black;
  background-color: #91C37D;
  box-shadow: 15px 15px #00A84E;
}
.beta-links.mobile-app {
  padding: 80px 30px;
  margin-bottom: 50px;
  box-shadow: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/visuel-select.jpg") no-repeat center;
  background-size: cover;
}
.beta-links.carrot-iot {
  color: #95A6B1;
}
.beta-links.carrot-iot h3 {
  color: #7C9872;
  font-weight: bold;
  margin-bottom: 50px;
}
.beta-links.carrot-iot .text-btn {
  color: black;
}
.beta-link {
  margin-top: 20px;
  font-size: 20px;
  box-shadow: 5px 5px 6px #E57B38;
}
.beta-link:hover,
.beta-link:focus,
.beta-link:active {
  box-shadow: 5px 5px 6px #7C9872;
}
/*# sourceMappingURL=index.css.map */