html {
  height: 100%;
}
.container-fluid {
  padding: 0;
}
.row {
  justify-content: center;
  margin: 0;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.border-carrot {
  margin-top: 90px;
  width: 100%;
  height: 100px;
  background: url("/images/carrots.png") no-repeat center;
  background-size: 25%;
}
.green {
  color: #00A84E !important;
}
.orange {
  color: #FF7300 !important;
}
.btn-orange {
  color: white !important;
  background-color: #d66b28;
  border-color: #d66b28;
  transition: all ease-in-out 0.3s;
}
.btn-orange:hover {
  color: white !important;
  background-color: #f29f3a;
  border-color: #f29f3a;
}
.btn-green {
  color: black !important;
  background-color: #91C37D;
  border-color: #91C37D;
  transition: all ease-in-out 0.3s;
}
.btn-green:hover {
  color: black !important;
  background-color: #7C9872;
  border-color: #7C9872;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-left {
  margin-left: 15px;
}
.icon-right {
  margin-right: 15px;
}
.main-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #00A84E;
  padding-top: 150px;
  padding-bottom: 20px;
}
.second-title {
  font-family: "Lobster", cursive;
  font-size: 35px;
  color: black;
}
.tooltip-btn {
  color: black;
  background-color: #91C37D;
  padding: 0 8px;
  border: 2px solid black;
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
}
.tooltip-btn:hover {
  cursor: pointer;
  background-color: #7C9872;
}
.module {
  margin-top: 10px;
  overflow: hidden;
  font-size: 16px;
  font-family: "Lato";
  padding: 0;
}
.module p {
  margin: 0;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.page-link {
  color: #56636b;
  background-color: white;
  border-color: #56636b;
}
.page-link:hover {
  color: #FF7300;
  background-color: white;
  border-color: #FF7300;
}
.page-link.disabled {
  color: #56636b !important;
  background-color: white !important;
  border-color: #56636b !important;
}
.page-item.active .page-link {
  background-color: #d66b28;
  border-color: #d66b28;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: #e1e1e1;
  z-index: 100;
}
.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-bottom: 0;
  padding: 0;
}
.menu-logo {
  width: 300px;
}
.menu-logo-image {
  width: 100%;
}
.menu-elem {
  margin-left: 30px;
}
.menu-elem-link {
  color: black;
  font-size: 22px;
  transition: all ease-in-out 0.3s;
}
.menu-elem-link:hover,
.menu-elem-link:focus {
  text-decoration: none;
  color: #d66b28;
  text-shadow: 1px 1px #56636b;
}
.menu-elem.account {
  position: relative;
  height: 100%;
}
.menu-elem.account:focus {
  outline: none;
}
.menu-elem.account .btn-logout {
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 5px;
  margin: 0;
  color: white;
  transition: all ease-in-out 0.3s;
}
.menu-elem.account .btn-logout:hover,
.menu-elem.account .btn-logout:focus {
  background-color: #d66b28;
  border-radius: 10px;
  padding: 0 5px;
}
.menu-elem.account .menu-elem-link {
  border: none;
  line-height: 80px;
  padding: 0 20px;
  font-size: 22px;
}
.menu-elem.account .menu-elem-link.btn-account {
  display: block;
  position: relative;
  height: 100%;
  line-height: 75px !important;
  border-radius: 5px;
}
.menu-elem.account .menu-elem-link.btn-login {
  border-radius: 5px;
}
.menu-elem.account .menu-elem-link:focus {
  outline: none;
}
.menu-elem.account .menu-elem-link:hover,
.menu-elem.account .menu-elem-link:focus {
  text-shadow: none;
}
.user-menu {
  display: table;
  background: #e1e1e1;
  padding: 0;
  text-align: center;
  border: 1px solid #56636b;
}
.user-menu .menu-elem-link {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #56636b;
}
.user-menu-logout {
  background-color: #91C37D;
  padding: 10px 0;
  margin: 0;
  font-size: 24px;
  font-family: "Lobster", cursive;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.user-menu-logout:hover {
  background-color: #7C9872;
  color: black;
}
.user-menu .oi {
  padding-right: 10px;
  font-size: 20px;
}
.footer {
  background: #e1e1e1;
}
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-section:first-child {
  margin-top: 15px;
  margin-bottom: 5px;
}
.footer-section:last-child {
  margin-top: 5px;
  margin-bottom: 20px;
}
.footer-elem {
  margin: 0 5px;
}
.footer-elem.social {
  margin: 0 20px;
}
.footer-elem.social a {
  margin-left: 5px;
}
.footer-elem a {
  color: black;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.footer-elem a:hover,
.footer-elem a:focus {
  text-decoration: none;
  color: #d66b28;
}
.footer-elem img {
  width: 40px;
}
.form {
  padding: 0 10px;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.form-control.readonly:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}
.form-wrapper {
  position: relative;
  background-color: #e1e1e1;
  padding: 30px;
  height: 100%;
}
.form-loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.form-annex {
  margin-top: 20px;
}
.form .error {
  background-color: #f29f3a;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 15px;
}
.form .error .oi {
  padding-right: 10px;
}
.form .error.under {
  margin-bottom: 0;
  margin-top: 15px;
}
.form .success {
  background-color: #00A84E;
  text-align: center;
  padding: 10px;
  color: black;
  margin-bottom: 15px;
}
.form .success .oi {
  padding-left: 5px;
}
.header {
  display: table !important;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center, center;
  background-color: black;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}
.header-title {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  font-family: "Lobster", cursive;
  padding-bottom: 100px;
  color: white;
  float: none;
}
.header-title-main {
  font-size: 100px;
  text-shadow: 5px 5px black;
  font-weight: normal;
}
.header-title-medium {
  font-size: 70px;
  text-shadow: 5px 5px black;
  vertical-align: top;
}
.header-title-sub {
  font-size: 50px;
  font-weight: normal;
}
.header-description {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: 80%;
  margin: 40px auto 20px auto;
}
.header-link {
  color: #91C37D;
  text-shadow: 2px 2px black;
  font-size: 30px;
  transition: all ease-in-out 0.3s;
}
.header-link.orange {
  color: #E57B28;
}
.header-link.orange:hover {
  color: #FF9000;
}
.header-link:hover {
  color: #00A84E;
  text-decoration: none;
}
.header.main {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/carousel/garden.jpeg");
  background-size: cover, cover;
}
.header.main .header-title {
  vertical-align: middle;
  padding-bottom: 0;
}
.header.beta-mgw {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/images/carousel/visuel-beta.jpeg");
  background-size: cover, cover;
}
.header.beta-mgw .header-title {
  vertical-align: middle;
  padding-bottom: 0;
}
.header.beta-mgw .header-title h2 {
  font-size: 100px;
}
.header.forward {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-final-forward.jpg");
  background-size: cover, cover;
}
.header.nmc {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/NMC_banniere.png");
  background-size: cover, cover;
}
.header.epitech-exp {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-epitech-experience.jpg");
  background-size: cover, cover;
}
.header.tech-inn {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-tech-inn.jpg");
  background-size: cover, cover;
}
.header.mf-nantes {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-mf-nantes.jpeg");
  background-size: cover, cover;
}
.header.mf-angers {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel/MGW-mf-angers.jpg");
  background-size: cover, cover;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: none;
}
.concept {
  padding-top: 100px;
  margin-bottom: 90px !important;
}
.concept-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}
.concept-subtitle {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #FF7300;
  font-size: 24px;
  margin-bottom: 0;
}
.concept-content {
  margin-top: 70px;
  text-align: center;
  padding: 30px;
  color: #56636b;
  background-color: #e1e1e1;
  box-shadow: 15px 15px #56636b;
  font-size: 20px;
}
.concept-tip {
  font-size: 18px;
  font-style: italic;
  color: #00A84E;
}
.concept-way-to-use {
  width: 60%;
  margin: 20px 0;
}
.concept-video {
  margin-top: 30px;
}
.concept-video-title {
  font-family: "Lobster", cursive;
  margin-top: 80px;
  color: #FF7300;
  margin-bottom: 30px;
  font-size: 45px;
}
.solution {
  padding-top: 100px;
}
.solution h3 {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}
.solution-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}
.solution-subtitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #7C9872;
  margin-top: 20px;
  margin-bottom: 50px;
}
.solution-second-title {
  font-family: "Lobster", cursive;
  margin-top: 100px;
  color: #56636b;
  margin-bottom: 30px;
  font-size: 45px;
}
.solution-products-img {
  width: 50%;
}
.solution-products-text {
  width: 40%;
  text-align: left;
  font-size: 18px;
  margin-bottom: 18%;
}
.solution-conclusion {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
  color: #FF7300;
  font-size: 30px;
  margin-bottom: 30px;
}
.solution-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
}
.solution-step-img {
  width: 35%;
  height: 100%;
}
.solution-step-text {
  font-size: 18px;
  padding: 50px;
}
.solution-step-btn {
  margin-bottom: 30px;
}
.solution-step.account {
  padding-top: 50px;
}
.solution-step.account h3 {
  color: #00A84E;
}
.solution-step.connect {
  background: url("/images/mid-way.png") no-repeat center top;
}
.solution-step.connect h3 {
  color: #FF7300;
}
.solution-step.select {
  background: url("/images/end-way.png") no-repeat center top;
}
.solution-step.select h3 {
  color: #00A84E;
}
.solution-step.search {
  background: url("/images/mid-way.png") no-repeat center top;
}
.solution-step.search h3 {
  color: #FF7300;
}
.solution-step.config {
  background: url("/images/end-way.png") no-repeat center top;
}
.solution-step.config h3 {
  color: #00A84E;
}
.team {
  padding-top: 100px;
  padding-bottom: 150px;
}
.team-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  margin-bottom: 70px;
}
.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.team-member-name {
  font-size: 24px;
  font-family: "Lobster", cursive;
  color: #FF7300;
}
.team-member-post {
  font-size: 18px;
}
.team-member-img {
  width: 100%;
  border-radius: 50%;
  transition: inherit;
}
.team-member-link {
  transition: all ease-in-out 0.3s;
}
.team-member-link:hover img {
  opacity: 0.7;
}
.vision {
  padding-top: 50px;
  background: linear-gradient(to right, rgba(1, 1, 1, 0.3) 30%, rgba(1, 1, 1, 0.55) 70%), url("/images/visuel-vision.jpeg") no-repeat center;
  background-size: cover;
}
.vision-title {
  font-family: "Lobster", cursive;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 50px;
  margin-bottom: 40px;
}
.vision-content {
  text-align: justify;
  font-size: 20px;
  color: white;
  margin: 50px 0;
}
.vision-content-text {
  padding: 1.5% 3%;
  background: rgba(1, 1, 1, 0.7);
  box-shadow: 0 0 40px 30px rgba(1, 1, 1, 0.7);
}
.vision-content-text .logo {
  font-family: "Lobster", cursive;
  font-size: 20px;
  color: #FF7300;
}
.vision-content-text .topline {
  color: #91C37D;
  font-size: 20px;
}
.vision-subtitle {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #FF7300;
  text-shadow: 2px 2px 5px black;
  font-size: 28px;
  margin-bottom: 50px;
}
.contact-single {
  padding-bottom: 150px;
}
.contact-single .main-title {
  padding-top: 100px;
  padding-bottom: 0;
  padding-left: 10px;
}
.contact-pro {
  padding-bottom: 150px;
}
.contact-pro-form {
  padding-left: 10px;
  color: #56636b;
  font-size: 12px;
  margin-bottom: 20px;
}
.contact-pro-form-link {
  margin-left: 3px;
  color: #91C37D;
  transition: all ease-in-out 0.2s;
}
.contact-pro-form-link:hover {
  color: #7C9872;
  text-decoration: none;
}
.register-btn {
  margin-top: 10px;
}
.forgot-password-btn {
  margin-top: 10px;
}
.forgot-password-help {
  text-align: center;
  margin-bottom: 30px;
}
.reset-password-btn {
  margin-top: 10px;
}
.reset-password-help {
  text-align: center;
  margin-bottom: 50px;
}
.login {
  position: absolute;
  top: 90px;
  left: -10px;
  width: 230px;
  z-index: 1;
  border: 1px solid #56636b;
}
.login .form {
  padding: 0;
  font-size: 12px;
}
.login .form-wrapper {
  padding: 15px;
}
.login .form-control {
  height: 25px;
  font-size: 12px;
}
.login .form-group {
  margin-bottom: 10px;
}
.login .form .btn {
  font-size: 12px;
}
.login-title {
  font-size: 30px;
}
.login-close {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 10px;
  line-height: 1;
  right: 10px;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}
.login-close:hover {
  opacity: 0.5;
}
.login-password-link {
  float: right;
  line-height: 19px;
  font-size: 11px;
  font-style: italic;
  color: #56636b;
  transition: all ease-in-out 0.3s;
}
.login-password-link:hover {
  color: black;
  text-decoration: underline;
}
.login-link {
  padding: 4px 3px;
  float: right;
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
  color: #f29f3a;
  transition: all ease-in-out 0.3s;
}
.login-link:hover {
  color: #d66b28;
  text-decoration: none;
}
.login:after,
.login:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.login:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e1e1e1;
  border-width: 10px;
  margin-left: -10px;
}
.login:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #56636b;
  border-width: 11px;
  margin-left: -11px;
}
.login.loading:before {
  border-bottom-color: white;
}
.login.loading:after {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.edit-profile {
  padding-bottom: 180px;
}
.edit-profile-subtitle {
  color: #56636b;
  font-size: 22px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.edit-profile-subtitle.second {
  margin-top: 30px;
}
.edit-profile-password {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  color: #FF7300;
}
.edit-profile .form {
  position: inherit;
}
.edit-profile-label {
  padding-left: 15px !important;
}
.edit-profile-button {
  margin-top: 10px;
}
.edit-profile-delete {
  margin-top: 50px;
}
.edit-profile-newsletter {
  margin-left: 15px;
}
.edit-profile .form-group {
  margin-bottom: 15px !important;
}
.delete-account .modal-title {
  color: #FF7300;
  font-size: 24px;
}
.delete-account .modal-footer {
  justify-content: space-between;
}
.plant-list {
  padding-bottom: 150px;
}
.plant-list .main-title {
  padding-top: 120px;
  padding-bottom: 5px;
}
.plant-list-subtitle {
  font-size: 16px;
  padding-bottom: 10px;
}
.plant-list-thumb {
  margin-bottom: 50px;
}
.plant-list-thumb-title {
  margin-bottom: 0;
  padding: 20px 0;
  background-color: #F3F3F3;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all ease-in-out 0.5s;
}
.plant-list-thumb-title:hover,
.plant-list-thumb-title:focus {
  color: #00A84E;
}
.plant-list-thumb-title-link:hover {
  text-decoration: none;
}
.plant-list-thumb-link {
  overflow: hidden;
  display: flex;
}
.plant-list-thumb-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  transition: all ease-in-out 0.3s;
}
.plant-list-thumb-img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.plant-list-thumb-btn {
  padding: 20px 10px;
  border-left: 3px solid #e1e1e1;
  border-right: 3px solid #e1e1e1;
  border-bottom: 3px solid #e1e1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.plant-list-thumb-btn .oi {
  margin-left: 5px;
}
.plant-list-thumb-data {
  width: 100%;
  padding: 10px 0;
  background-color: #e1e1e1;
  text-align: center;
}
.plant-list-thumb-data-thumb {
  padding: 0 5px;
}
.plant-list-thumb-data-icon {
  vertical-align: middle;
}
.plant-list-thumb-icon {
  width: 30%;
  margin: 0 2%;
}
.plant-list-thumb-temperature {
  width: 100%;
}
.plant-list-thumb-type {
  padding: 10px 10px 0 10px;
  border-left: 3px solid #e1e1e1;
  border-right: 3px solid #e1e1e1;
  font-size: 16px;
  font-style: italic;
}
.plant-list-thumb-description {
  padding: 10px 10px 0 10px;
  border-left: 3px solid #F3F3F3;
  border-right: 3px solid #F3F3F3;
  margin-top: 0;
}
.plant-list-bar {
  margin-bottom: 50px;
}
.plant-list-result {
  margin-bottom: 30px;
  font-size: 22px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid #56636b;
  justify-content: left;
}
.plant-list-make-search {
  justify-content: left;
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.plant-list-body {
  margin-left: -15px;
  margin-right: -15px;
}
.plant-list-search {
  background-color: #e1e1e1;
  padding: 20px 10px;
  justify-content: space-between;
}
.plant-list-search-sort-title {
  text-align: right;
  font-size: 18px;
  padding: 5px 15px;
  margin: 0;
}
.plant-list-search .form-check-inline {
  margin-right: 0;
}
.plant-list-search .form-check-inline .form-check-input {
  margin-right: 0;
}
.plant-list-search .form-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.plant-list-search-icon {
  width: 30px;
  margin: 0 10px 0 5px;
}
.plant-list-search-title {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.plant-list-search-toggle {
  transition: all ease-in-out 0.3s;
  margin-top: 10px;
  text-align: left;
}
.plant-list-search-toggle:focus {
  box-shadow: none;
}
.plant-list-search-toggle:hover,
.plant-list-search-toggle:focus {
  text-shadow: 2px 2px 5px #56636b;
}
.plant-list-search-toggle .oi {
  font-size: 12px;
  margin-left: 5px;
}
.plant-list-search-submit {
  margin-top: 10px;
}
.plant-list-search-submit .oi {
  margin-right: 5px;
}
.plant-list-search-submit .oi-x {
  font-size: 12px;
  line-height: 24px;
  vertical-align: bottom;
}
.plant-list-search-hide {
  display: none;
}
.plant-list-search-display {
  display: flex;
}
.plant-list-search-checkboxes {
  margin-top: 10px;
  font-size: 14px;
}
.plant-list-search .form-group {
  margin-bottom: 15px;
}
.plant-list-search-select {
  font-family: fontAwesome;
}
.plant-list-search-tooltips {
  font-size: 12px;
  margin-top: 15px;
  font-style: italic;
}
.plant-list-search-tooltips.display {
  display: block;
}
.plant-list-search-tooltips.hide {
  display: none;
}
.plant-detail {
  padding-bottom: 150px;
}
.plant-detail .main-title {
  padding-top: 120px;
}
.plant-detail .form {
  padding-top: 150px;
}
.plant-detail-fetching {
  margin-top: 200px;
}
.plant-detail-subtitle {
  margin-bottom: 20px;
}
.plant-detail-link {
  background-color: #91C37D;
  color: black;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  border: 2px solid #7C9872;
}
.plant-detail-link .oi {
  margin-left: 8px;
  font-size: 14px;
}
.plant-detail-link:hover {
  text-decoration: none;
  color: black;
  background-color: #7C9872;
}
.plant-detail-carrot-link-btn {
  margin-top: 15px;
  width: 100%;
  padding: 5px 0;
  border: 2px solid #FF7300;
}
.plant-detail-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
.plant-detail-data {
  width: 100%;
  color: #56636b;
}
.plant-detail-data-title {
  color: #00A84E;
  font-size: 24px;
  margin-left: 5px;
  margin-top: 10px;
}
.plant-detail-data-thumb {
  padding: 10px 20px;
  background-color: #e1e1e1;
  font-size: 16px;
  font-weight: bold;
}
.plant-detail-data-thumb.light {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: start;
}
.plant-detail-data-thumb.last {
  padding-bottom: 20px;
}
.plant-detail-icon {
  width: 15%;
  margin-right: 10px;
}
.plant-detail-icon.margin-left {
  margin-left: 10px;
}
.plant-detail-more {
  position: relative;
  text-align: center;
}
.plant-detail-text {
  padding: 20px;
  margin: 30px 30px;
  color: #56636b;
  background-color: #e1e1e1;
  box-shadow: -15px -15px #56636b;
}
.plant-detail-text.left {
  box-shadow: 15px 15px #56636b !important;
  text-align: right;
}
.plant-detail .border-carrot {
  margin: 30px 0;
}
.plant-detail-visual {
  margin-bottom: 40px;
}
.plant-link .modal-header {
  flex-wrap: wrap;
}
.plant-link-img {
  width: 20px;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.plant-link-form {
  padding: 0;
}
.plant-link-carrot-page {
  margin-left: 5px;
  color: #FF7300;
  transition: all ease-in-out 0.3s;
  text-decoration: underline;
}
.plant-link-carrot-page:hover {
  color: #91C37D;
}
.plant-link-carrot-page-go {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  transition: all ease-in-out 0.3s;
}
.plant-link-carrot-page-go:hover,
.plant-link-carrot-page-go:focus {
  box-shadow: none;
  text-decoration: none;
  text-shadow: 2px 2px 5px #56636b;
}
.plant-link-carrot-page-go .oi {
  margin-left: 5px;
  top: 2px;
}
.plant-link .modal-body {
  background-color: #e1e1e1;
}
.plant-link .modal-title {
  color: #FF7300;
  font-size: 22px;
}
.plant-link .modal-footer {
  justify-content: space-between;
}
.carrot-list {
  padding-bottom: 150px;
}
.carrot-list-error {
  padding: 0;
}
.carrot-list-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.carrot-list-add-btn {
  margin-right: 15px;
}
.carrot-list-empty {
  margin-top: 80px;
}
.carrot-list-side {
  align-content: start;
}
.add-carrot .form {
  padding: 0;
}
.add-carrot .modal-body {
  background-color: #e1e1e1;
}
.add-carrot .modal-title {
  color: #FF7300;
  font-size: 24px;
}
.add-carrot .modal-footer {
  justify-content: space-between;
}
.carrot-thumb {
  margin: 30px 0;
}
.carrot-thumb-wrapper {
  background-color: #e1e1e1;
  padding: 20px 0;
}
.carrot-thumb-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
.carrot-thumb-name {
  margin-right: 10px;
}
.carrot-thumb-spinner {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  vertical-align: initial;
}
.carrot-thumb-circle {
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: initial;
}
.carrot-thumb-circle.Connected {
  background: #00A84E;
}
.carrot-thumb-circle.Disconnected {
  background: red;
}
.carrot-thumb-circle.Unknown {
  background: #56636b;
}
.carrot-thumb-img {
  width: 25px;
  vertical-align: initial;
  margin-right: 10px;
}
.carrot-thumb-sensor-data {
  font-size: 18px;
  justify-content: space-around;
}
.carrot-thumb-sensor-data-name {
  margin-bottom: 5px;
}
.carrot-thumb-sensor-data-value {
  margin-bottom: 5px;
  color: #7C9872;
  font-style: italic;
}
.carrot-thumb-toggle {
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.carrot-thumb-toggle .oi {
  font-size: 12px;
  margin-left: 5px;
}
.carrot-thumb-toggle:hover,
.carrot-thumb-toggle:focus {
  text-shadow: 1px 1px 3px #56636b;
}
.carrot-thumb-toggle:focus {
  box-shadow: none;
}
.carrot-thumb-icon {
  width: 25%;
}
.carrot-thumb-btns {
  margin-top: 10px;
}
.carrot-thumb-btn-edit {
  padding: 5px;
  font-size: 16px;
  margin-right: 5px;
}
.carrot-thumb-btn-delete {
  padding: 5px;
  font-size: 16px;
  margin-left: 5px;
}
.carrot-thumb-btn-delete:hover,
.carrot-thumb-btn-delete:active {
  background-color: #f29f3a !important;
  border-color: #f29f3a;
}
.carrot-thumb-btn-delete-plant {
  font-size: 14px;
  margin-left: 5px;
  transition: all ease-in-out 0.3s;
}
.carrot-thumb-btn-delete-plant:hover,
.carrot-thumb-btn-delete-plant:focus {
  color: #56636b;
}
.carrot-thumb-btn-delete-plant:focus {
  box-shadow: none;
}
.gateway-list {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.gateway-list-title {
  color: black;
  margin: 20px 0;
  font-size: 32px;
  font-weight: bold;
}
.gateway-list-thumb {
  padding-bottom: 10px;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid #56636b;
}
.gateway-list-name {
  margin-left: 20px;
  margin-right: 10px;
}
.gateway-list-spinner {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.gateway-list-circle {
  margin-right: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}
.gateway-list-circle.Connected {
  background: #00A84E;
}
.gateway-list-circle.Disconnected {
  background: red;
}
.gateway-list-circle.Unknown {
  background: #56636b;
}
.beta {
  padding-bottom: 100px;
}
.beta-thanks {
  font-size: 70px;
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 180px 100px;
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/visuel-thanks.jpg") no-repeat center;
  background-size: cover;
}
.beta .border-carrot {
  margin: 0 0 20px 0;
}
.beta-title {
  color: #FF7300;
  text-shadow: 2px 2px 2px black;
}
.beta-presentation {
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
  color: #56636b;
}
.beta .oi {
  font-size: 15px;
  margin-left: 5px;
}
.beta-download {
  margin: 70px 0;
  text-align: center;
  color: #56636b;
}
.beta-download-qrcode {
  margin-left: 10%;
  margin-top: 50px;
  width: 25%;
}
.beta-download h3 {
  color: #FF7300;
  font-weight: bold;
  margin-bottom: 30px;
}
.beta-download-btn {
  margin-top: 30px;
  font-size: 20px;
  box-shadow: 5px 5px 6px #7C9872;
}
.beta-download-btn:hover,
.beta-download-btn:focus,
.beta-download-btn:active {
  box-shadow: 5px 5px 6px #56636b;
}
.beta-links {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 20px;
}
.beta-links.website {
  color: black;
  background-color: #91C37D;
  box-shadow: 15px 15px #7C9872;
}
.beta-links.mobile-app {
  padding: 80px 30px;
  margin-bottom: 50px;
  box-shadow: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/visuel-app.jpg") no-repeat center;
  background-size: cover;
}
.beta-links.carrot-iot {
  color: #56636b;
}
.beta-links.carrot-iot h3 {
  color: #00A84E;
  font-weight: bold;
  margin-bottom: 50px;
}
.beta-links.carrot-iot .text-btn {
  color: black;
}
.beta-link {
  margin-top: 20px;
  font-size: 20px;
  box-shadow: 5px 5px 6px #d66b28;
}
.beta-link:hover,
.beta-link:focus,
.beta-link:active {
  box-shadow: 5px 5px 6px #7C9872;
}
/*# sourceMappingURL=index.css.map */