.carrot-list {
  padding-bottom: 150px;

  &-error {
    padding: 0;
  }
  &-bar {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &-add-btn {
    margin-right: 15px;
  }
  &-empty {
    margin-top: 80px;
  }
}
