.carrot-thumb {
  position: relative;
  &-wrapper {
    background-color: @color-secondary-light;
    padding: 20px 0;
  }
  margin: 30px 0;
  &-title {
    margin-top: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &-no-plant {
    font-size: 14px;
  }
  &-plant-list {
    overflow: auto;
    height: 120px;
  }
  &-name {
    margin-right: 10px;
  }
  &-spinner {
    width: 15px;
    height: 15px;
    font-size: 14px;
    vertical-align: initial;
  }
  &-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: initial;

    &.CONNECTED {
      background: @color-primary-green;
    }

    &.DISCONNECTED {
      background: red;
    }

    &.UNKNOWN {
      background: @color-secondary;
    }
  }

  &-img {
    width: 25px;
    vertical-align: initial;
    margin-right: 10px;
  }

  &-sensor-data {
    font-size: 18px;
    justify-content: space-around;

    &-name {
      margin-bottom: 5px;
    }

    &-value {
      margin-bottom: 5px;
      color: @color-primary-green-dark;
      font-style: italic;
    }
  }

  &-toggle {
    font-size: 14px;
    transition: all ease-in-out .3s;
    .oi {
      font-size: 12px;
      margin-left: 5px;
    }
    &:hover, &:focus {
      text-shadow: 1px 1px 3px @color-secondary;
    }
    &:focus {
      box-shadow: none;
    }
  }

  &-icon {
    width: 25%;
  }

  &-btns {
    margin-top: 10px;
  }

  &-btn {
    &-reload {
      font-size: 16px;
      padding: 0;
      position: absolute;
      right: 30px;
      top: 10px;
      &:hover {
        text-shadow: 1px 1px 5px black;
      }
      &:focus, &:active {
        box-shadow: none;
      }
    }
    &-edit {
      padding: 5px;
      font-size: 16px;
      margin-right: 5px;
    }
    &-delete {
      padding: 5px;
      font-size: 16px;
      margin-left: 5px;
      &:hover, &:active {
        background-color: @color-primary-orange-light !important;
        border-color: @color-primary-orange-light;
      }

      &-plant {
        font-size: 14px;
        margin-left: 5px;
        transition: all ease-in-out .3s;

        &:hover, &:focus {
          color: @color-secondary;
        }
        &:focus {
          box-shadow: none;
        }

      }
    }
  }
}
