.gateway-list {
  margin-top: 20px;
  &-title {
    color: @color-secondary-dark;
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  &-thumb {
    padding: 10px 0;
    &:not(:last-child) {
      border-bottom: 1px solid @color-secondary;
    }
    &-btn {
      &-edit {
        padding: 3px;
        font-size: 13px;
      }
      &-delete {
        padding: 3px;
        margin-right: 10px;
        font-size: 13px;
      }
      &-reload {
        font-size: 13px;
        &:hover {
          text-shadow: 1px 1px 5px black;
        }
        &:focus, &:active {
          box-shadow: none;
        }
      }
    }
  }
  &-name {
    margin-right: 10px;
  }
  &-spinner {
    width: 15px;
    height: 15px;
    font-size: 14px;
    margin-right: 20px;
  }
  &-add-btn {
    margin-top: 20px;
  }
  &-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;

    &.CONNECTED {
      background: @color-primary-green;
    }

    &.DISCONNECTED {
      background: red;
    }

    &.UNKNOWN {
      background: @color-secondary;
    }
  }
}